@model WebDemo.Models.SetPasswordViewModel
@{
    ViewBag.Title = "Tạo mật khẩu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Tạo mật khẩu để đăng nhập khi không cần dùng đến các Dịch vụ đăng nhập
</p>

@using (Html.BeginForm("SetPassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Tạo mật khẩu</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Tạo mật khẩu" class="btn btn-warning" />
        </div>
    </div>
}
